<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Konbanwa</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam enim incidunt quia nobis necessitatibus aliquam laboriosam ad distinctio excepturi ipsum, repudiandae perspiciatis totam quae molestiae quam autem temporibus, atque exercitationem.</p>
</body>
</html>